@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.success-message {
    border-radius: 20px;
    padding: 10px 12px;
    text-align: center;
    font-size: 19px;
    color: white;
    opacity: 0;
    /* Initially hidden */
    animation: slideDownFadeIn 0.8s ease-out forwards;
    position: absolute;
    top: 80px;
    left: 25%;
    width: 50%;
    z-index: 1;
}